[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 4.5
[submodule "bbxxserver/vendored/drogon"]
	path = bbxxserver/vendored/drogon
	url = git@github.com:drogonframework/drogon.git
